* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/blue.jpeg);
    background-position: 27% 16%;
    font-family: 'DM Mono', monospace;
    overflow-x: hidden;
}

/* SelectDifficulty Component */

.select-difficulty {
    width: 90%;
    margin: 0 auto;
    margin-top: 75px;
    text-align: center;
}

.button-container {
    margin: 40px 0;
}

.difficulty-button {
    font-family: inherit;
    background: rgba(255,255,255, 0.5);
    border-radius: 25px;
    border: none;
    outline: none;
    width: 90%;
    max-width: 330px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.8s;
}

.difficulty-button:hover {
    transform: translateY(-10px);
    box-shadow: 2px 7px 12px rgba(0, 0, 0, 0.3);
}

.difficulty {
    font-size: 45px;
}

.difficulty-info {
    font-size: 17px;
    padding: 7px;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1000px){
    .flex-container {
        display: flex;
        justify-content: space-between;
    }

    .select-difficulty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -85%);
    }
}

/* CountDown Component */ 
.count-down-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 110px;
    text-align: center;
}

.timer {
    font-size: 55px;
}

.dark-overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.7);
}

.start-button {
    font-family: inherit;
    font-size: 40px;
    padding: 10px;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.progress-bar-container {
    position: relative;
    overflow-x: hidden;
}

.progress-bar {
    position: relative;
    top: 0%;
    left: 35%;
}

/* DisplayWord Component */
.test-word-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}

@media screen and (min-width: 540px ) {
    .test-word-container {
        font-size: 55px;
    }
}

/* UserInput Component */
.user-input-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
}

.user-input {
    font-family: inherit;
    background: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 25px;
    padding: 10px;
    width: 80%;
    max-width: 600px;
}   

.correct {
    color: #00FF92;
}

.incorrect {
    color: rgb(250, 69, 90);
}

@media screen and (min-width: 590px) {
    .user-input {
        font-size: 40px;
    }
}

/* ResultsModal Component */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.results-container h1:first-of-type {
    text-align: center;
}

.game-score {
    margin: 20px 0;
}

.results-button-container {
    margin-top: 10px;
    text-align: center;
}

.modal-button-container {
    max-width: 280px;
    margin: 0 auto;
}

.modal-button {
    margin: 10px;
    width: 90%;
    background-color: #00BFFF;
    color: white;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    transition: all .5s
}

.modal-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 650px) {
    .results-button-container {
        display: flex;
    }
}